/* Dans votre fichier de styles global ou component */
.mat-select-panel {
    max-height: 300px !important;
  }
  
  .mat-chip {
    margin: 2px !important;
  }
  
  .mat-select-trigger {
    min-height: 48px;
  }