<ng-template #loading>
  <div class="p-10">
    <div class="flex flex-col items-center justify-center space-y-6">
      <p class="text-lg text-gray-600" rxTranslate="global.loading">
        Chargement en cours...
      </p>
      <mat-progress-spinner mode="indeterminate" class="icon-2xl" color="primary" diameter="35">
      </mat-progress-spinner>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="!isLoading; else loading">
  <div class="text-center mt-4 w-full">

    <div class="text-center p-4" *ngIf="mailmessage">
      <div class="text-green-500 text-lg font-medium">
        {{ mailmessage }}
      </div>
    </div>
    <div class="text-center p-4" *ngIf="mailmessagError">
      <div class="text-red-500 text-lg font-medium">
        {{ mailmessagError }}
      </div>
    </div>
  </div>

  <div class="p-6 flex flex-col gap-4 w-full">
    <formly-form [form]="PasswordFormGroup" [fields]="passwordFields" [model]="passwordModel"></formly-form>

    <div class="flex gap-2 mt-4 justify-end">
      <button (click)="submit()" color="primary" mat-raised-button type="button" [disabled]="PasswordFormGroup.invalid"
        rxTranslate="reset-password.submit">
        UPDATE
      </button>
    </div>
  </div>
</ng-container>