<div class="mt-4 flex flex-col gap-2">
    <mat-form-field class="flex-1">
        <mat-label>{{ field.props.label}}</mat-label>
        <mat-icon class="mr-2" matIconPrefix svgIcon="mat:lock"></mat-icon>
        <input
        [type]="visible ? 'text' : 'password'" 
        [formControl]="formControl" 
          matInput
          required />
        <button
          (click)="toggleVisibility()"
          mat-icon-button
          matIconSuffix
          matTooltip="Toggle Visibility"
          type="button">
          <mat-icon [svgIcon]="visible ? 'mat:visibility': 'mat:visibility_off'"></mat-icon>
        </button>
        
      <mat-error *ngIf="showError">
        <formly-validation-message [field]="field"></formly-validation-message>
      </mat-error>
      </mat-form-field>

  
   
  </div>