c<div class="card">
    <div class=" flex items-start gap-4 px-6 py-4 border-b border-gray-200 shadow-sm">
      <mat-icon svgIcon="mat:settings"></mat-icon>
      <h2 class="title m-0">Settings</h2>
      <button class="ml-auto"
        mat-flat-button>
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="px-6 py-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="py-3 flex items-center">
        <div
          @scaleIn
          class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:person"></mat-icon>
        </div>

        <div @fadeInRight>
          <p class="m-0 body-1">{{ settings?.site_name }}</p>
          <p class="m-0 caption text-hint">name</p>
        </div>
      </div>

      <div class="py-3 flex items-center">
        <div @fadeInRight>
          <ng-container *ngIf="settings?.site_logo; else noLogo">
            <img alt="Logo" class="w-8 select-none" [src]="settings?.site_logo" />
          </ng-container>
          <ng-template #noLogo>
            <img alt="Logo" class="w-8 select-none" *ngIf="image$ | async as logo" [src]="logo" />
          </ng-template>
          <p class="m-0 caption text-hint">logo</p>
        </div>
      </div>

      <div class="py-3 flex items-center">
        <div
          @scaleIn
          class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:description"></mat-icon>
        </div>

        <div @fadeInRight>
          <p class="m-0 body-1">{{ settings?.site_description }}</p>
          <p class="m-0 caption text-hint">description</p>
        </div>
      </div>

      <div class="py-3 flex items-center">
        <div
          @scaleIn
          class="w-10 h-10 rounded-full bg-gray-600/10 text-dark ltr:mr-3 rtl:ml-3 cursor-pointer flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:web"></mat-icon>
        </div>

        <p @fadeInRight class="m-0 body-1 cursor-pointer">
          {{ settings?.site_web}}
        </p>
      </div>
    </div>
  </div>