<div class="flex items-center justify-end m-0">
  <button [matMenuTriggerFor]="languageMenu" class="flex-none sm:hidden" color="primary" mat-icon-button
    type="button" *ngIf="languageKey">
    <img class="w-6 h-6 rounded-full" [src]="flag" alt="flag" />
  </button>

  <button [matMenuTriggerFor]="languageMenu" class="flex-none hidden sm:inline-block" color="primary"
    mat-flat-button type="button" *ngIf="languageKey">
    <div class="flex flex-row items-center gap-2">
      <img class="w-5 h-5 rounded-full" [src]="flag" alt="flag" />
      <span class="font-medium uppercase">{{languageKey}}</span>
    </div>
  </button>

  <mat-menu #languageMenu="matMenu" overlapTrigger="false" xPosition="before" yPosition="below">
    <button mat-menu-item *ngFor="let item of languages" (click)="switchLanguage(item)">
      <div class="flex flex-row gap-2">
        <img class="w-6 h-6 rounded-full" [src]="item.flag" alt="{{ item.name }}" />
        <p class="font-medium text-sm" rxTranslate="global.{{ item.code }}">
          {{ item.name }}
        </p>
      </div>
    </button>
  </mat-menu>
</div>