<div>
  <div class="flex items-center" mat-dialog-title>
    <mat-icon svgIcon="mat:attach_file" class="avatar ltr:mr-5 rtl:ml-5 text-primary"></mat-icon>
    <h2 class="headline m-0 flex-auto" rxTranslate="document.document_create">
      Ajouter de nouveaux fichiers
    </h2>
    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>
  <mat-divider class="text-border"></mat-divider>
  <mat-dialog-content class="flex flex-col">
    <div class="mt-6">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    </div>
  </mat-dialog-content>
</div>
