<div class="container p-6">
    <div class="flex items-start justify-between" mat-dialog-title>
        <div class="flex items-start justify-start gap-2">
            <mat-icon class="text-red-500" svgIcon="mat:delete"></mat-icon>
             <h2 class="headline m-0 flex-auto">
                Delete Object
            </h2>
        </div>
    </div>

    <mat-divider class="text-border"></mat-divider>

     <mat-dialog-content class="flex flex-col items-start justify-start space-y-2">
       <p class="text-lg text-red-500 font-medium">Are you sure you want to delete?</p>
            <p class="text-lg font-semibold">
                FILE: {{ data.name }}
            </p>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">Cancel</button>
        <button color="primary" mat-flat-button type="submit" (click)="onConfirm()">
            Delete
        </button>
    </mat-dialog-actions>
</div>