<div class="w-full h-full bg-pattern flex flex-col items-center justify-center" *ngIf="LoadingFormReset">
  <div @fadeInUp class="card overflow-hidden w-full max-w-md">
   


      <div class="p-6 pb-0 flex flex-col items-center justify-center">
        <div class="fill-current text-center">
          <img class="w-16" src="assets/img/logo/logo.svg" />
        </div>
      </div>

      <div class="text-center mt-4">
        <h2 class="title m-0" rxTranslate="reset-password.title">Reset Password</h2>
        <h4 class="body-2 text-secondary m-0" rxTranslate="reset-password.subtile">
          Modify your password.
        </h4>
      </div>
      <div class="text-center p-4" >
        <div  class="text-red-500 text-lg font-medium">
          {{ mailmessage }}
        </div>
      </div>

      <div class="p-6 flex flex-col gap-4">
        <div class="flex flex-col">

          <!-- Email Field -->
          <formly-form [form]="PasswordFormGroup" [fields]="passwordFields"
                  [model]="passwordModel"></formly-form>
                  <ng-container *ngIf="!isLoading; else load">
          <button (click)="submit()" [disabled]="PasswordFormGroup.invalid" color="primary" mat-raised-button
            type="button" rxTranslate="reset-password.submit">
            SEND
          </button>
        </ng-container>
        <ng-template #load>
          
          <vex-loading-spinner></vex-loading-spinner>
    
        </ng-template>
        </div>


      </div>


   

  </div>
</div>
<div class="w-full h-full bg-pattern flex flex-col items-center justify-center" *ngIf="!LoadingFormReset">
  <div class="bg-pattern w-full h-full flex flex-col items-center justify-center">
    <div [@fadeInUp] class="card overflow-hidden w-full max-w-md">
      <div class="p-6 pb-0 flex flex-col items-center justify-center">
        <div class="fill-current text-center">
          <img class="w-16" src="assets/img/logo/logo.svg" />
        </div>
        <h2 class="title m-0"> {{ mailmessage }}.</h2>
      </div>
      <div class="p-6 flex flex-col" *ngIf="isLoading2">
        <vex-loading-spinner></vex-loading-spinner>
      </div>
      <div class="p-6 flex flex-col" *ngIf="isTokenValid">
        <button (click)="Resend()" color="primary" mat-raised-button rxTranslate="reset-password.resender_bloc.title">
          Resend password reset link
        </button>
      </div>
    </div>
  </div>
</div>
