<div class="file-upload-container">
  <label *ngIf="props.label" class="file-upload-label mb-2">
    {{ props.label }}
    <span *ngIf="props.required" class="required-asterisk">*</span>
  </label>

  <!-- En-tête (taille et total) -->
  <div class="mt-2 mb-2">
    <div class="flex justify-between items-center mb-2">
      <span class="text-sm font-medium text-gray-700">
        {{ 'file_upload.size_text' | translate }}
      </span>
      <span class="text-sm font-bold text-blue-600">
        {{ formatFileSize(getTotalFileSize(field.key?.toString() || '')) }} / {{ formatFileSize(maxTotalSize) }}
      </span>
    </div>
  </div>

  <!-- Barre de progression (track) -->
  <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4">
    <div class="bg-blue-600 h-2.5 rounded-full"
      [style.width]="((getTotalFileSize(field.key?.toString() || '') || 0) / (maxTotalSize || 1) * 100) + '%'">
    </div>
  </div>

  <file-pond #pond [options]="pondOptionsConfig" (onaddfile)="onAddFile($event)" (onremovefile)="onRemoveFile($event)">
  </file-pond>

  <mat-error *ngIf="formControl.touched && formControl.hasError('required')">
    {{ props['errorMessages']?.['required'] || 'File is required' }}
  </mat-error>
</div>