<ng-container *ngIf="!LoadingForm">
  <!-- Affichage du formulaire ou du message de vérification -->
  <div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
    <div @fadeInUp class="card overflow-hidden w-full max-w-md">
      <!-- Si sucess est false, on affiche le formulaire -->
      <ng-container *ngIf="!sucess ; else failed">
        

          <!-- Logo -->
          <div class="p-6 pb-0 flex flex-col items-center justify-center">
            <div class="fill-current text-center">
              <img class="w-16" src="assets/img/logo/logo.svg" />
            </div>
          </div>

          <!-- Titre -->
          <div class="text-center mt-4">
            <h2 class="title m-0" rxTranslate="forgot-password.title">Reset Password</h2>
            <h4 class="body-2 text-secondary m-0" rxTranslate="forgot-password.subtile">
              Enter your email for password recovery.
            </h4>
            <div *ngIf="mailmessage?.trim()" class="text-red-500 text-lg font-medium">
              {{ mailmessage }}
            </div>
          </div>
          <div class="p-6 flex flex-col">
            <formly-form [form]="forgotFormGroup" [fields]="forgotfields" [model]="forgotModel"></formly-form>
            <ng-container *ngIf="!isLoading; else spinner"> 
    
            <button
              (click)="send()"
              class="mt-2"
              color="primary"
              [disabled]="forgotFormGroup.invalid" 
              mat-raised-button
              type="button" rxTranslate="forgot-password.submit">
              SEND RECOVERY LINK
            </button>
          </ng-container>
          <ng-template #spinner>
            <vex-loading-spinner></vex-loading-spinner>
          </ng-template>
          </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<!-- Loader -->

<ng-template #failed class="bg-pattern w-full h-full flex flex-col items-center justify-center">
        <div [@fadeInUp] class="card overflow-hidden w-full max-w-md">
          <div class="p-6 pb-0 flex flex-col items-center justify-center">
            <div class="fill-current text-center">
              <mat-icon
                class="icon-5xl"
                [svgIcon]="sucess ? 'mat:check' : 'mat:mail'"></mat-icon>
            </div>
          </div>

          <div class="text-center mt-4">
            <h2 class="title m-0" rxTranslate="forgot-password.success_bloc.title">
              Vérifiez votre email pour le lien de réinitialisation.
            </h2>
            <div class="p-6 flex flex-col">
              <button (click)="refresh()" color="primary" mat-raised-button rxTranslate="forgot-password.success_bloc.submit">
                Come back
              </button>
            </div>
          </div>
        </div>
</ng-template>


<vex-email-not-verified  
[mailmessage]="mailmessage"
[email]="getEmail()"
[LoadingForm]="LoadingForm"
[isSuccess] ="isSuccess"
[sucess]="sucess"
></vex-email-not-verified>