<div class="p-6">
  <!-- Header -->
  <div class="flex items-center justify-between" mat-dialog-title>
    <h2 class="mb-6 text-xl font-medium" *ngIf="defaults">Modifier un rôle</h2>
    <h2 class="mb-6 text-xl font-medium" *ngIf="!defaults">Créer un rôle</h2>
    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <!-- Formulaire -->
  <div>
    <formly-form [form]="form" [model]="model" [fields]="fields"></formly-form>
  </div>

  <!-- Actions -->
  <div class="flex justify-end mt-6">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      [disabled]="!form.valid"
      *ngIf="isCreateMode() || isUpdateMode()"
      (click)="submit()"
      class="ml-2">
      <span class="capitalize">{{ mode }} rôle</span>
    </button>
  </div>
</div>
