<mat-form-field appearance="outline" class="w-full">
    <mat-label>{{ to.label }}</mat-label>

    <mat-select [formControl]="formControl" (openedChange)="onOpenedChange($event)">
        <!-- Ce qui s'affiche quand une icône est sélectionnée -->
        <mat-select-trigger>
            <div class="flex items-center gap-2">
                <mat-icon>{{ formControl.value }}</mat-icon>
                <span>{{ formControl.value }}</span>
            </div>
        </mat-select-trigger>
        <!-- Input intégré mais sans border -->
        <div class="p-2" (click)="$event.stopPropagation()" (mousedown)="$event.stopPropagation()">
            <input type="text" placeholder="Rechercher une icône..." [formControl]="searchControl"
                class="w-full focus:outline-none border-none p-1" (click)="$event.stopPropagation()"
                (mousedown)="$event.stopPropagation()">
        </div>

        <mat-option *ngFor="let icon of filteredIcons" [value]="icon">
            <mat-icon class="mr-2">{{ icon }}</mat-icon> {{ icon }}
        </mat-option>
    </mat-select>

    <mat-error *ngIf="showError">
        {{ showErrorMessage }}
    </mat-error>
</mat-form-field>