.github-container {
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.github-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .title {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color: #212121;
  }

  .sync-button {
    display: flex;
    align-items: center;
    gap: 8px;

    .inline-spinner {
      display: inline-block;
      margin-right: 8px;
    }
  }
}

vex-generic-resource-list {
  flex: 1;
  overflow: auto;
}
