<mat-form-field>
    <mat-label>{{ props.label }}</mat-label>
    <mat-date-range-input [formGroup]="rangeGroup" [rangePicker]="picker">
      <input matStartDate formControlName="start" 
             [placeholder]="props['startPlaceholder'] || 'Start date'">
      <input matEndDate formControlName="end" 
             [placeholder]="props['endPlaceholder'] || 'End date'">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancel</button>
          <button mat-raised-button matDateRangePickerApply>Apply</button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
      @if (rangeGroup.controls.start.hasError('matStartDateInvalid')) {
        <mat-error>Invalid start date</mat-error>
      }
      @if (rangeGroup.controls.end.hasError('matEndDateInvalid')) {
        <mat-error>Invalid end date</mat-error>
      }
  </mat-form-field>
 