<div [hidden]="isLoading">
  <div class="flex items-center justify-between" mat-dialog-title>
    <h1 mat-dialog-title>{{"document.edit.name" | translate}}</h1>
    <button mat-icon-button mat-dialog-close>
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <formly-form [form]="form" [model]="model" [fields]="fields"></formly-form>
  </div>
</div>

<div
  *ngIf="isLoading"
  class="fixed inset-0 flex flex-col items-center justify-center bg-white bg-opacity-50 z-50"
>
  <vex-loading-spinner></vex-loading-spinner>
</div>


